/* #root {
  max-width: 360px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: left;
  border: 1px solid black;
  border-radius: 12px;
} */

.mainContainer {
  margin-inline: auto;
  max-width: 360px;
  padding: 1.5rem;
  text-align: left;
  border: 1px solid black;
  border-radius: 16px;
}

.buttonsContainer {
  margin-bottom: 12px;
  display: flex;
  gap: 6px;
  justify-content: space-between;
}

.valuesFeddbackContainer {
  padding-bottom: 6px;
  margin-bottom: 6px;
  display: flex;
  gap: 16px;
  border-bottom: 1px solid black;
}

.totalFeedbackConteiner {
  display: flex;
  gap: 16px;
}
